@font-face {
	font-family: 'ubuntu';
	src: url('../webfonts/ubuntu.ttf') format('truetype');
}

@font-face {
	font-family: 'Essay';
	src: url('../webfonts/essay.ttf') format('truetype');
}

::selection {
	background: #3FC67D;
}
::-moz-selection {
	background: #3FC67D;
}

* {
	margin: 0;
}

body {
	background-color: #79C3D2;
}

header {
	color: white;
	font: normal 1.2em 'Essay', serif;
	padding: 10px 0;
	letter-spacing: 2px;
	text-align: center;
	background-color: black;
}

header a {
	text-decoration: none;
	color: white;
}

body * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

a:focus {
	outline: 0;
}

#content {
	width: 80%;
	max-width: 700px;
	margin: 0 auto;
}

#warning {
	margin-top: 100px;
	text-align: center;
	font: normal 1.2em 'ubuntu', sans-serif;
}

#polls {
	margin-top: 50px;
	list-style: none;
}

#polls li {
	margin: 10px 0;
	background-color: #D9EEF2;
	text-align: center;
	border-radius: 5px;
	border: 2px dashed #79C3D2;
}

#polls li a {
	display: block;
	padding: 20px 0;
	color: black;
	font: normal 1.1em/1em 'ubuntu', sans-serif;
	text-decoration: none;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

#polls li:hover a {
	padding: 30px 0;
}

#choice-form {
	width: 80%;
	margin: 20px auto 0;
}

#choice-form p {
	margin: 10px 0;
}


#choice-form input[type=radio] {
	position: relative;
	-webkit-appearance: none;
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: black;
	border-radius: 100px;
}

#choice-form input[type=radio]:after {
	position: absolute;
	left: 3px;
	top: 4px;
	content: '';
	background: url('../images/tick.png');
	width: 20px;
	height: 20px;
}

#choice-form input[type=radio]:checked {
	background-color: #45808C;
}

#choice-form input[type=radio]:checked:after {
	background-position: -23px;
}

#choice-form input[type=radio]:focus {
	outline: 0;
	box-shadow: 0 0 20px white;
}

label {
	display: inline-block;
	margin: 8px 0 0 5px;
	vertical-align: top;
}

#choice-form input[type=submit] {
	padding: 5px 10px;
	/*float: right;*/
	margin-left: 40px;
	border-radius: 3px;
	font: normal 15px 'ubuntu', sans-serif;
	background-color: #5192A0;
	border: 2px solid #447782;
	color: white;
}

#result {
	margin-top: 40px;
	padding: 20px 30px;
	background-color: black;
	box-shadow: 0 0 0 10px #B3DFE8;
	color: white;
}

#result > div {
	position: relative;
	margin: 5px 0;
	padding: 10px;
	font: normal 1em 'ubuntu', sans-serif;
	border: 2px solid #79C3D2;
	height: 42px;
}

.meter {
	position: absolute;
	top: 0; left: 0;
	height: 100%;
	width: 0;
	background-color: rgba(121, 195, 210, .4);
}

#result span {
	float: right;
}

/*#choices {
	width: 90%;
	margin: 0 auto;
	margin-top: 50px;
	list-style: none;
}

#choices li {
	margin: 10px 0;
	position: relative;
	height: 60px;
	background-color: #3189A7;
	text-align: center;
}

#choices li:before, #choices li:after {
	content: '';
	position: absolute;
	border-left: 30px solid #79C3D2;
	border-top: 30px solid transparent;
	border-bottom:  30px solid transparent;
}

#choices li:before {
	top: 0; left: 0;
}

#choices li:after {
	top: 0; right: 0;
	border-left: 30px solid #3189A7;
	border-top: 30px solid #79C3D2;
	border-bottom:  30px solid #79C3D2;
}

#choices li:hover { background-color: #4398B5; }
#choices li:hover:after { border-left: 30px solid #4398B5; }

#choices li a {
	display: block;
	padding: 20px 0;
	color: white;
	font: normal 1.1em/1em 'ubuntu', sans-serif;
	text-decoration: none;
}*/
