{% extends "polls/base.html" %}

{% block title %}{{ poll.question }} | Polls{% endblock %}

{% block header %}<h1>Polls: {{poll.question}}?</h1>{% endblock %}

{% block content %}
<form id="choice-form" action="{% url 'polls:vote' poll.id%}" method="post">
	{% csrf_token %}
	{% for choice in poll.choice_set.all %}
	<p>
		<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
		<label for="choice{{forloop.counter}}">{{choice.choice_text}}</label>
	</p>
	{% endfor %}
	<input type="submit" value="Vote">
</form>
{% if error_message %}<p id="warning"><strong>{{ error_message }}</strong></p>{% endif %}
{% endblock %}

{% comment %}
{% block content %}
	{% if poll %}
		<ul id="choices">
			{% for choice in poll.choice_set.all %}
				<li><a href="/polls/{{poll.id}}/vote/{{ choice.id }}">{{ choice.choice_text }}</a></li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}
{% endcomment %}
